<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuliu.citywalk.mapper.UploadedFileMapper">

    <insert id="insertFile">
        insert into uploaded_files (user_id, biz_type, file_key, file_name, file_url, content_type, file_size, storage_type, created_at)
        values (#{userId}, #{bizType}, #{fileKey}, #{fileName}, #{fileUrl}, #{contentType}, #{fileSize}, 'oss', now())
    </insert>

    <delete id="deleteByUserId">
        delete from uploaded_files where user_id = #{userId}
    </delete>

    <select id="listFileKeysByUserId" resultType="java.lang.String">
        select file_key
        from uploaded_files
        where user_id = #{userId}
    </select>

</mapper>
